@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 99%;
    --foreground: 0 0% 10%;
    --card: var(--background);
    --card-foreground: var(--foreground);

    --popover: var(--background);
    --popover-foreground: var(--foreground);

    --primary: 214 70% 50%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 92%;
    --secondary-foreground: 0 0% 25%;

    --accent: 28 80% 65%;
    --accent-foreground: 0 0% 100%;

    --muted: 0 0% 95%;
    --muted-foreground: 0 0% 40%;

    --destructive: 0 65% 50%;
    --destructive-foreground: 0 0% 100%;

    --border: var(--muted);
    --input: var(--muted);
    --ring: 214 70% 50%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 220 15% 12%;
    --foreground: 0 0% 96%;
    --card: var(--background);
    --card-foreground: var(--foreground);

    --popover: var(--background);
    --popover-foreground: var(--foreground);

    --primary: 214 70% 58%;
    --primary-foreground: 0 0% 0%;

    --secondary: 220 5% 45%;
    --secondary-foreground: 0 0% 96%;

    --accent: 28 80% 55%;
    --accent-foreground: 0 0% 96%;

    --muted: 0 0% 30%;
    --muted-foreground: 0 0% 60%;

    --destructive: 0 65% 55%;
    --destructive-foreground: 0 0% 96%;

    --border: var(--muted);
    --input: var(--muted);
    --ring: 214 70% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.prose {
  line-height: 1.5rem;
  li {
    list-style-type: disc;
    margin-left: 1.5em;
  }
  code {
    color: black;
    font-weight: 600;
  }
  ol, ul {
    padding-bottom: 0.5rem;
  }
  h2 {
    font-weight: 600;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
  }
  h3 {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  p {
    margin-bottom: 0.5rem;
  }
  code {
    background-color: rgb(243 244 246);
    padding: 0.2rem 0.4rem;
    border-radius: 0.25rem;
  }
  pre {
    max-width: 30vw;
    overflow-x: scroll;
  }
}
