This is a React Next.js project with a FastAPI Python backend.

Frontend:

- Use .js for JSX files
- Use 'next/navigation' for all navigation/routing
- Use prompt-stack/frontend/src/lib/api.js for all API calls
- Handlers (onClick, onSubmit, etc.) should be named handle{action} and explicitly defined `const handle{action} = (e) => { ... }`

Backend:

- Use pydantic for all data models
- Use backend/db/models.py for all database models
  - Do not write migrations manually, use alembic
- Use backend/schemas/models.py for all routes input/output pydantic models
- Use backend/routers/{table}.py for all routes for that table/model
